{% include 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/Styleme.css' %}">
        <meta charset="UTF-8">
        <title>CS Department</title>
    </head>
    <BODY class="courses">
        <h2>CS Department</h2>
    <ul>
        <h3>It includes the following scientific domains:-</h3>
        <Li>Programming and concepts of computer languages.</Li>
        <Li> Data and files processing  designing and analyzing the Algorithms </Li>
        <Li> computer operating systems. Bases and applications of the artificial intelligence </Li> 
        <Li>smart systems experience systems </Li>
        <Li> languages processing </Li>
        <Li> multi agents systems </Li>
        <Li> Web nets </Li>
        <Li> genetic Algorithms </Li> 
        <Li> knowledge base systems </Li>
        <Li> parallel processing and the distributed systems </Li>
        <Li> smart education systems </Li>
        <Li> computers teaching </Li>
        <Li> Human computer link </Li>
        <Li> a realizing computers.</Li>
    </ul>
    </BODY>
{% endblock content %}