{% include 'base.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/Styleme.css' %}">
        <meta charset="UTF-8">
        <title>CS Courses</title>
    </head>
    <BODY class="courses">
        <h2>CS Courses</h2>
        <ol>
           <li> Artificial Intelligence</li>
           <li>Assembly Language</li>
           <li>Compilers</li>
           <li>Computer Arabization</li>
           <li>Computer Architecture and Organization</li>
           <li>Concepts of Programming Languages</li>
           <li>Data Structures</li>
           <li>File Organization and Processing</li>
           <li>Genetic Algorithms</li>
           <li>Human Computer Interfaces</li>
           <li>Introduction to Computers</li>
           <li>Knowledge Base Systems</li>
           <li>Logic Design</li>
           <li>Machine Learning</li>
           <li>Multi-Agent Systems</li>
           <li>Natural Languages Processing</li>
           <li>Neural Networks</li>
           <li>Operating System-1</li>
           <li>Operating Systems-2</li>
           <li>Parallel Processing</li>
           <li>Programming-1</li>
           <li>Programming-2</li>
           <li>Project</li>
           <li>Selected Topics in Computer Science-1</li>
           <li>Selected Topics in Computer Science-2</li>
           <li>Software Engineering-1</li>
           <li>Software Engineering-2</li>
        </ol>
    </BODY>
{% endblock content %}