{% include 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/Styleme.css' %}">
        <meta charset="UTF-8">
        <title>DS Department</title>
    </head>
    <BODY class="courses"><h2>DS Department</h2>
    <h3>It includes the following scientific domains:-</h3>
    <ul>
        <li>Bases and concepts of the systems science </li>
        <li> researches of operations and the decision support methodology </li>
        <li> modeling and simulation </li>
        <li> simulating computer languages </li>
        <li> computer applications and simulation of administration and economy </li>
        <li> linear and non-linear programming </li>
        <li> Multi-goals programming </li>
        <li> Dynamic and random programming </li>
        <li> smart a accounts networks theory and planning project </li>
        <li> theory of queues </li>
        <li> systems of observing production and stock </li>
        <li> methods and tools of decision support</li>
        <li>systems of decision support </li>
        <li> administrating data for decision support </li>
        <li> systems of cognitive decision support </li>
        <li> technology of decision support </li>
        <li> statistical analysis of decision support </li>
        <li> systems of geographical information for decision support </li>
        <li> strategic administration </li>
        <li> administration of integrated quality </li>
        <li> games and crisis administration various applicable models of production services economics and administration</li>
    </ul>
</BODY>
{% endblock content %}