{% include 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/Styleme.css' %}">
        <meta charset="UTF-8">
        <title>DS Courses</title>
    </head>
    <BODY class="courses">
        <h2>DS Courses</h2>
        <ol>
        <li> Advanced Topics in Intelligent Computational</li>
           <li>Computational Intelligence in Decision Support</li>
           <li> Computer Languages for Modeling</li>
           <li>Computer Simulation Languages</li>
           <li>Data Management in Decision Support</li>
           <li>Decision Support Systems and Applications</li>
           <li>Decision Support Tools and Techniques</li>
           <li>Elective Course</li>
           <li> Elective Course</li>
           <li> Elective Course</li>
           <li>Fundamentals of Economics</li>
           <li>Fundamentals of Management</li>
           <li>Geographic Information Systems for Decision Support</li>
           <li>Introduction to Decision Support and Systems</li>
           <li>Inventory Control and Production Management</li>
           <li>Knowledge Base Decision Support systems</li>
           <li>Linear and Integer Programming</li>
           <li>Logistics Management</li>
           <li>Modeling and Simulation</li>
           <li>Multi-Objective Programming</li>
           <li>Networks Optimization</li>
           <li>Non-Linear and Dynamic Programming</li>
           <li>Optimizations Techniques</li>
           <li>Project</li>
           <li>Projects Management</li>
           <li>Quantitative Models for Services</li>
           <li>Quantitative Models in Economics and Management</li>
           <li>Risk Management</li>
           <li>Selected Topics in Decision Support</li>
           <li>Simulation Games</li>
           <li>Simulation Models in management and Economics</li>
           <li>Statistical Analysis in Decision Support</li>
           <li>Stochastic Models in Operations Research and Decision Support</li>
           <li>Stochastic Programming</li>
           <li>Strategic and Crisis Management</li>
           <li>System Analysis and Modeling</li>
         
         
        </ol>
     
    </BODY>
{% endblock content %}