{% include 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/Styleme.css' %}">
        <meta charset="UTF-8">
        <title>IS Department</title>
    </head>
    <BODY class="courses"><h2>
        IS Department
    </h2>
    <h3>It includes the following scientific domains:-</h3>
    <ul>
        <li>Systems of designing and analyzing information means of developing information systems </li>
        <li> building information systems </li>
        <li> systems of staring and retrieving information </li>
        <li> data base systems </li>
        <li> information systems </li>
        <li> administrative information systems </li>
        <li> geographical information systems </li>
        <li> multi media information systems </li>
        <li>Distributed information systems </li>
        <li> smart information systems discovering knowledge in the data base systems </li>
        <li> objective data base </li>
        <li> economics of information systems data searching - data banks </li>
        <li> administrating information cares integrated information systems </li>
        <li> methods of developing information systems </li>
        <li> quality assurance of the programs and information system </li>
        <li> applications of information systems in the various fields </li>
        <li> electronic trade </li>
        <li> World Wide Web systems (the Internet).</li>
    </ul>  
        
</BODY>
{% endblock content %}