{% include 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/Styleme.css' %}">
        <title>IS Courses</title>
    </head>
    <BODY class="courses">
        <h3>IS Courses</h3>
        <OL>
            <LI>Analysis and Design of Information Systems-2</LI>
            <LI>Business Functions Classification</LI>
            <LI>Data Mining</LI>
            <LI>Data Storage and Retrieval</LI>
            <LI> Data Warehouses</LI>
            <LI>Database Design</LI>
            <LI>Database Systems 1</LI>
            <LI>Database Systems 2</LI>
            <LI>Distributed Databases</LI>
            <LI>E-Commerce</LI>
            <LI>Fundamentals of Information Systems</LI>
            <LI>Geographical Informatiopn Systems</LI>
            <LI>Information Centres Management</LI>
            <LI>Information Systems Development Methodologies</LI>
            <LI>Intelligent Information Systems</LI>
            <LI>Internet Applications</LI>
            <LI>Internet Information Systems</LI>
            <LI>Management Information Systems</LI>
            <LI>Multimedia Information Systems</LI>
            <LI>Object Oriented Databases</LI>
            <LI>Project</LI>
            <LI>Quality Assurance of Information Systems and programming</LI>
            <LI>Selected Topics in Information systems-1</LI>
            <LI>Selected Topics in Information systems-2</LI>
         
         
        </OL>
    </BODY>
{% endblock content %}