{% include 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/Styleme.css' %}">
        <title>IT Department</title>
    </head>
    <BODY class="courses"><h2>IT Department</h2>
        <ul><h3> It includes the following scientific domains:-</h3>
            <li>Various networks</li>
            <li>information networks and their applications</li>
            <li> communications technology </li>
            <li> The internet </li>
            <li>securing information and networks </li>
            <li> identifying types </li>
            <li> processing digital signals </li>
            <li> acquainting and generating speech </li>
            <li> acquainting and processing pitchy photos </li>
            <li> viewing by computers </li>
            <li> drawing systems of computer art and computer animated cartoon </li>
            <li> by pathetical state of things </li>
            <li> multi media securing and compressing data </li>
            <li> actual time systems </li>
            <li> digital systems </li>
            <li> computers architecture </li>
            <li> micro processors and their applications </li>
            <li> compact systems </li>
            <li> smart and quantities computers </li>
            <li> computer systems of expected failure </li>
            <li> parallel and shared computer systems </li>
            <li> robots and dynamic systems </li>
            <li> electronic learning and digital libraries </li>
            <li> information engineering and electronic talks.</li>
        </ul>
    </BODY>
{% endblock content %}