{% include 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/Styleme.css' %}">
        <title>IT Courses</title>
    </head>
    <BODY class="courses">
        <h2>IT Courses</h2>
        <ol>
            <li> Computer Animation</li>
            <li> Computer Architecture</li>
            <li> Computer Graphics-1</li>
            <li> Computer Graphics-2</li>
            <li> Computer Interfaces</li>
            <li> Computer Network-2</li>
            <li> Computer Networks-1</li>
            <li> Computer Vision</li>
            <li> Data Communication</li>
            <li> Digital Library</li>
            <li> Digital Signals Processing</li>
            <li> Distributed and Parallel Computer Systems</li>
            <li> E-Business</li>
            <li> E-Learning</li>
            <li> Electronic-1</li>
            <li> Electronics-2</li>
            <li> Embedded Systems</li>
            <li> Fault Tolerant Computer Systems</li>
            <li> Image Processing-1</li>
            <li> Image Processing-2</li>
            <li> Information and Computer Networks Security</li>
            <li> Information Engineering</li>
            <li> Intelligent and Quantum Computers</li>
            <li> Internet Technology</li>
            <li> Microprocessors</li>
            <li> Multimedia</li>
            <li> Pattern Recognition</li>
            <li> Planning and Design of Information Networks</li>
            <li> Project</li>
            <li> Real Time Systems</li>
            <li> Robotics</li>
            <li> Selected Topics in Information Technology-1 (Fuzzy)</li>
            <li> Selected Topics in Information Technology-2 (Network)</li>
            <li> Signals and Systems</li>
            <li> Speech processing</li>
            <li> Virtual Reality</li>
            <li> Wireless and Mobile Networks</li>

        </ol>

    </BODY>
{% endblock content %}